* {
	min-height: 0;
	min-width: 0;
}
html {
	position: relative;
	min-height: 100%;
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	background-color: lightgray;
}


/********
*****
****/
.navbar-inverse{
	border-radius: 0px;
	width: 100%;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
}

.navbar-inverse .navbar-nav>li>a{
 text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}
.navbar-inverse .navbar-nav>li>a:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
 text-align: center;
	color: aqua;
}
.navbar-brand{
	font-family: 'Slackey', cursive;
}
.icon {
	width: 1.7em;
	height: 1.7em;	
}
.social li{
	display: inline-block;
}
.calender {
	position: fixed;
	background: rgba(0,0,0,.9);
	height: 100vh;
	top: 0px;
	left: 0px;
	right: 0px;
	left: 0px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: none;
	cursor:pointer;
}

iframe {
	margin-left: 5%;
	margin-top: 15%;
	min-height: 400px;
	max-height: 450px;
	width: 90%;
	box-shadow: -4px 4px 35px black;
}


/****    header   ******/

.header-container {
	background-image: url("../assets/images/frybabies.png");
	height: 300px;
	position: relative;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover;
	background-position: center;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
	align-content: center;
	-webkit-align-content: center;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.frybabies-h1 {
	font-family: 'Slackey', cursive;
	font-size: 3rem;
	color: rgba(255,0,127,.8);
	margin-bottom: 0;
	text-shadow: 3px 3px rgba(0,0,0,.5);
}
.full-h1 {
	/* align-self: center;
	flex-wrap: wrap;
	flex-basis: 400px;
	-webkit-align-self: center;
	-webkit-flex-wrap: wrap;
	-webkit-flex-basis: 400px;
	padding: 0; */
	margin: auto;
}
.roll {
	font-family: 'Slackey', cursive;
	font-size: 1rem;
	color: white;
	display: inline-block;
	align-self: center;
	-webkit-align-self: center;
	margin-top: -.7em;
	text-shadow: 3px 3px black;
	-webkit-box-ordinal-group: 4;
	-moz-box-ordinal-group: 4;
	-ms-flex: 4;
	-webkit-order: 4;
	order: 4;
}

/****** Info  ******/

.second-row-info {
	padding: 2rem 1rem;
	color: black;
}

/***** Events *****/

.background-image {
	position: relative;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)), url("../assets/images/IMG_0542.jpg");
	background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)), url("../assets/images/IMG_0542.jpg");
	padding: 1rem 0rem;
	width: 100%;
	background-size: cover;
	background-position: center;
}
.centerer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 6%;
}

.images {
	position: relative;
	border-radius: 50% 50%;
	overflow: hidden;
	width: 250px;
	height: 250px;
	border: 5px solid gray;
	background: white;
	transition-duration: .9s;
	-webkit-transition-duration: .9s;
}
.images img{
	width: 100%;
	height: 100%;
	border-radius: 50% 50%;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.image-overlay {
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 50% 50%;
	border: 10px;
}
.image-overlay h5{
	font-size: 2rem;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.row h1{
	font-size: 4rem;
	color: white;
	text-align: center;
	margin-bottom: 2rem;
}
.upcoming {
	width: 100%;
	text-align: center;
	font-size: 2rem;	
	z-index: 9999;
	color: rgba(255,0,127,.8);
	cursor:pointer;
}

.forth-row-contact{
	padding-right: .5rem;
	padding-left: .5rem;
	flex: 1;
}
.forth-row-contact h4 {
	display: inline-block;
	margin-right: 3rem;
	text-shadow: 1px 1px rgba(0,0,0,.5);
}
.center-forth {
	position: relative;
	width: 85%;
	margin: auto;
	max-height: 300px;
}
.center-forth h2 {
	font-size: 1rem;
}
.email {
	font-family: 'Slackey', cursive;
	color: rgba(255,0,127,.8);
	font-size: 1.1rem;
	text-decoration: none;
	text-shadow: 1px 1px rgba(0,0,0,.5);
}


/*** footer  ***/

.footer {
	position: absolute;
	background-color: black;
	color: white;
	height: 50px;
	bottom: -15;
	width: 100%;
	text-align: center;
}
.footer h5,
.footer p {
	color: white;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 0px;
}
.footer h5{
	font-family: 'Slackey', cursive;
	margin-right: .5rem;
}
.center-forth {
	text-align: center;
}
	.container-div {
		max-width: 1300px;
		margin: 0 auto;
		background: white;
		position: relative;
	}
@media(min-width: 450px) {
	
	.frybabies-h1 {
		font-family: 'Slackey', cursive;
		font-size: 4rem;
		margin-bottom: 0;
		position: relative;
	}
	.second-row-info {
		padding: 3rem 4rem;

	}
}
@media(min-width: 618px) {
	
	.frybabies-h1 {
		font-size: 7.8rem;
	}
	.header-container {
		height: 400px;
	} 
	.second-row-info {
		padding: 3rem 5rem;
	}
	.second-row-info p {
		font-size: 1.5rem;
	}
	.roll {

		font-size: 2rem;
		margin-top: -.7em;
	}
	span a {

		font-size: 1.4em;

	}
	.icon {
		width: 1.3em;
		height: 1.3em;
		margin-top: .2em;
		margin-bottom: 0px;
	}
	.row h1{
	font-size: 5rem;
	margin-bottom: 2rem;
}
	.upcoming {
		font-size: 4rem;
	}
	.email {
		font-size: 1.9rem;
	}


@media(min-width: 700px){

	.center-forth h2 {
		font-size: 2rem;
	}
	iframe {
		margin-left: 5%;
		margin-top: 5%;
		min-height: 600px;
		width: 90%;
		max-height: 650px;
		box-shadow: -4px 4px 35px black;
	}
}
@media(min-width: 770px) {
	#images {
		margin-top: 20px;
	}
	.images {
		margin:0;
	}
	.frybabies-h1 {
		font-size: 9rem;
	}
	.second-row-info {
		padding: 4rem 7rem;
	}
	.second-row-info p {
		font-size: 1.9rem;
	}
	.forth-row-contact{
		padding-right: .9rem;
		padding-left: .9rem;
	}

	.center-forth {
		width: 80%;
		margin: auto;
	}
		.row h1{
	font-size: 6.5rem;
	margin-bottom: 2rem;
}
	.upcoming {
		font-size: 4.5rem;
	}
	.forth-row-contact{
		padding: 4rem 0rem;
	}
}
@media(min-width: 845px){
	.background-image {
		background-position: center;
		background-attachment: fixed;
	}
	/* .holder {
		min-height: 600px;
	} */
	.header-container {
		height: 500px;
		background-attachment: fixed;
		background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-attachment: fixed;
	}

	.image-overlay {
		background-color: rgba(0,0,0,.7);
		-webkit-transition: left .5s;
		transition: left .5s;
		left: -400px;
	}
	
	.images:hover .image-overlay{
		left: 0px;
	}
	.frybabies-h1 {
		font-size: 11rem;
	}
	.roll {

		font-size: 2.8rem;
		margin-top: -.7em;
	}
	
}
@media(min-width: 1000px) {
	.frybabies-h1 {
		font-size: 12rem;
	}
	.roll {
		font-size: 3.4rem;
		margin-top: -.9em;
	} 
	.second-row-info{
		padding: 6rem 10rem;
	}
	.second-row-info p {
		font-size: 2.5rem;
	}
	.forth-row-contact h2{
		font-size: 2rem;
	}
	.forth-row-contact h4 {
		margin-right: 3rem;
		font-size: 1.8rem;
	}
	.center-forth {
		width: 75%;
	}
}
@media(min-width: 1200px) {
	
	
	}
	/*
@media(min-width: 1400px) {
	.container-div {
		max-width: 1400px;
		margin: 0 auto;
	}
	.frybabies-h1 {
		font-size: 13.5rem;
	}
	.roll {
		font-size: 4rem;
		margin-top: -.9em;
	} 
.second-row-info{
		padding: 6rem 13rem;
	}
	.second-row-info p {
		font-size: 2.8rem;
	}
	span a {
		font-size: 1.7em;
		margin-left: .9em;
		margin-right: .9em;
	}
	.center-forth {
		width: 65%;
	}

@media(min-width: 2100px) {
	
	.frybabies-h1 {
		font-size: 20rem;
	}
	.roll {
		font-size: 8rem;
		margin-top: -.9em;
	} 
	.second-row-info{
		padding-left: 19rem;
		padding-right: 19rem;
	}
	.second-row-info p{
		font-size: 4.5rem;
	}
	.header-container {
		height: 800px;
	}
}



